// Add Your Custom SCSS Here and Import this Partial Last



$primary-font: 400 1rem/1.5rem 'Varela Round',sans-serif;
//Roboto,sans-serif;
// font weight  text-size  line height, font-family
// Weight: 100-900 -- 400 is normal 700 is bold
//1rem/1.5rem
//$font-primary: 400 16px/24px Roboto,sans-serif;
//$font-body: "Helvetica Neue", Helvetica, Arial, sans-serif;
//$white: rgba(255,255, 255, 1);

$primary-bg-color: white;
$primary-color: #6c6f73; // gray #6c6f73;

$color-bg-dark: rgba(38, 47, 54, 1); //dark blue #262F36;


body {
  font-family: 'Varela Round', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

html,
body {
  height: 100%;
  color: $primary-color;
}

h1,h2,h3,h4,h5,p {
  color: $primary-color;
}

h6 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
}

img {
  max-width: 100%;
}

.blockquote {
  font-size: 1.6rem;
  color: #333;
  border: none;
  padding: 0;
}

.blockquote-footer {
  margin: 1rem 0 0;
}

.section-top {
  background: #455a64;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}

#stage {
  background: url("../img/stage.jpg") 50% 50% / cover no-repeat;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center; /*centers it vertically*/
}

#stage-caption {
  font-size: 1.4rem;
  font-weight: 200;
  max-width: 60rem;
  margin: 0 auto; /*centers it horizontally*/
  text-align: center;
}

#stage-caption h1 {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

.feature-content {
  padding: 8rem 0;
  overflow: hidden;
}

.feature-content img {
  margin-bottom: -8rem;
}

.feature-dark {
  background: $color-bg-dark;
  color: white;
}

.feature-dark h2 {
  color: white;
}

.feature-alt {
  background: #f0f0f0;
}

#feature-four .feature-content {
  padding: 0;
}

#feature-five img {
  margin-top: 2rem;
}

#main-footer {
  background: #262F36;
  color: white;
  padding: 6rem 0;
  font-size: 0.8rem;
}

#main-footer h6 {
  color: #718FA9;
}

#main-footer a {
  color: #6C6F73;
}

//Text Fields from MDL 1.1.3
#feature-content .feature-content {
  padding: 6rem 0;
}

#feature-content h6 {
  color: $primary-color;
}

#feature-subscribe {
  background: url('../img/keyboard-bg.jpg') no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  align-items: center;
  display: flex;
}

#feature-subscribe h6 {
  color: rgba(255, 255, 255, 0.87);
}

#feature-subscribe input[type=text] {
  font-size: 20px;
  text-transform: none;
  font-weight: normal;
  letter-spacing: 1px;
  background-color: rgba(255, 255, 255, 0.1);
  border: solid 1px rgba(255, 255, 255, 0.1);
  padding: 1rem;
  /*Controls Box Height */
  margin-top: 0.3rem;
  /*Space Above For Text After Hover */
  margin-bottom: 0.6rem;
  /*Space Below For Line After Hover */
}

#feature-subscribe input[type=submit] {
  background: #3dc9b3;
  border: solid 1px #3dc9b3;
  font-size: 1.4rem;
  padding: 1rem 2.5rem;
  color: #fff;
  text-shadow: #3dc9b3 1px -1px 2px;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#feature-subscribe input[type=submit]:hover {
  background: rgba(61, 201, 179, 0.5);
  border: solid 1px rgba(61, 201, 179, 0.5);
}

.mdl-rounded-border {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.mdl-textfield {
  position: relative;
  font-size: 1.25rem;
  display: inline-block;
  box-sizing: border-box;
  max-width: 100%;
  margin: 0 .375rem;
  padding: 1.5rem 0;
}

.mdl-textfield .mdl-button {
  position: absolute;
  bottom: 1rem;
}

.mdl-textfield--align-right {
  text-align: right; }

.mdl-textfield--full-width {
  width: 100%;
}

.mdl-textfield--expandable {
  min-width: 32px;
  width: auto;
  min-height: 32px;
}

.mdl-textfield__input {
  /*Text typing in when filling out form*/
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  display: block;
  font-size: 1.25rem;
  margin: 0;
  padding: .25rem 0;
  width: 100%;
  background: none;
  text-align: left;
  color: inherit;
}

.mdl-textfield__input[type="number"] {
  -moz-appearance: textfield;
}

.mdl-textfield__input[type="number"]::-webkit-inner-spin-button, .mdl-textfield__input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.mdl-textfield.is-focused .mdl-textfield__input {
  outline: none;
}

.mdl-textfield.is-invalid .mdl-textfield__input {
  border-color: #d50000;
  box-shadow: none;
}

.mdl-textfield textarea.mdl-textfield__input {
  display: block;
}

.mdl-textfield__label {
  bottom: 0;
  color: rgba(255, 255, 255, 0.54);
  /*Placeholder Text Color*/
  font-size: 1.25rem;
  /*Placeholder Text Size*/
  left: 0;
  right: 0;
  pointer-events: none;
  position: absolute;
  display: block;
  top: 42px;
  /* Start TextBox Placeholder Text Distance From Top (Increase Number is Farther Toward Bottom of Box) */
  padding-left: 1rem;
  /* Start TextBox Placeholder Text Number of Pixels Down From Left */
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
}

.mdl-textfield.is-dirty .mdl-textfield__label {
  visibility: hidden;
}

.mdl-textfield--floating-label .mdl-textfield__label {
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

fieldset[disabled] .mdl-textfield .mdl-textfield__label,
.mdl-textfield.is-disabled.is-disabled .mdl-textfield__label {
  color: rgba(0, 0, 0, 0.26);
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label {
  padding-left: 0;
  /*Remove Padding From Placeholder Text */
  color: #3dc9b3;
  /*Change Font Color */
  font-size: 18px;
  /*Increase Font to 18px*/
  top: 2px;
  visibility: visible;
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__expandable-holder .mdl-textfield__label,
.mdl-textfield--floating-label.is-dirty .mdl-textfield__expandable-holder .mdl-textfield__label {
  top: -1rem;
}

.mdl-textfield--floating-label.is-invalid .mdl-textfield__label {
  padding-left: 0;
  /*Remove Padding From Placeholder Text */
  font-weight: bold;
  /*Bold Text */
  font-size: 1.125rem;
  /*Increase Font to 18px*/
}

.mdl-textfield__label:after {
  background-color: #3dc9b3;
  /*Color of Bottom Line During Focus */
  bottom: 24px;
  /* Has to Match 48 paddding be 1/2 of it */
  content: '';
  height: 2px;
  left: 45%;
  position: absolute;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  visibility: hidden;
  width: 10px;
}

.mdl-textfield.is-focused .mdl-textfield__label:after {
  left: 0;
  visibility: visible;
  width: 100%;
  /*Width of Line During Focus */
}

.mdl-textfield.is-invalid .mdl-textfield__label:after {
  background-color: #d50000;
}

.mdl-textfield__error {
  padding-left: 0;
  /*Remove Padding From Placeholder Text */
  color: #d50000;
  /*Red Font Color */
  font-weight: bold;
  /*Bold Text */
  font-size: 18px;
  /*Increase Font to 18px*/
  position: absolute;
  margin-top: 3px;
  visibility: hidden;
  display: block;
}

.mdl-textfield.is-invalid .mdl-textfield__error {
  visibility: visible;
}

.mdl-textfield__expandable-holder {
  display: inline-block;
  position: relative;
  margin-left: 32px;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  max-width: 0.1px;
}

.mdl-textfield.is-focused .mdl-textfield__expandable-holder, .mdl-textfield.is-dirty .mdl-textfield__expandable-holder {
  max-width: 600px;
}

.mdl-textfield__expandable-holder .mdl-textfield__label:after {
  bottom: 0;
}
.text-center{
  text-align: center;
}




/* Media Queries */

@media screen and ( min-width : 991px ) {

  .feature-content {     /* Vertically centers feature-content div on devices 991px and above*/
    display: flex;
    align-items: center;
  }
}