<!doctype html>
<!-- https://www.youtube.com/watch?v=OPxeCiy0RdY&list=PLGLfVvz_LVvRo7634CgU8vyD_NPtODwjE -->

<!-- Define the ng-app parameter in the root element so AngularJS
knows where to begin compiling. app1 is the module name and is referenced
in the JS file we will create -->

<!-- ng-init is a directive that initializes application data by assigning
variable values -->
<html ng-app="app1"
	  ng-init="
		fields = [
		{ name: 'name', label: 'Full Name', error: 'Please enter your full name', type: 'text', required: true, min: 2},
		{ name: 'email', label: 'Email', error: 'Please enter your email address', type: 'text', required: true, min: 2},
		{ name: 'phone', label: 'Phone', error: 'Please enter your phone number', type: 'text', required: true, min: 2}
  		]">
<head>
	<title>AngularJS Tutorial</title>
</head>
<body>

<!-- Adds a controller that the Angular module will control.
The view is the div element and all that it contains. The $scope
component is used to provide data to the view. -->
<div ng-controller="ctrl1">
	<span>Values:</span>

	<!-- Define 2 elements that will be bound to the first and
	second values in the scope using the ng-model directive. If
	either value changes here it will change in the scope and
	vice versa -->
	<input type="text" ng-model="first" />
	<input type="text" ng-model="second" />


	<!-- Expressions bind data to HTML as well -->
	<p>Your first value is {{first}}</p>

	<!-- You can do the same with ng-bind -->
	<p>Your second value is
		<span data-ng-bind="second"></span>
	</p>

	<!-- Strings can be built in expressions -->
	<p>{{person.fName + " " + person.lName}} you entered {{first + " and " + second}}</p>

	<!-- ng-repeat cycles through a collection -->
	<ul>
		<li ng-repeat = "capital in capitals">
			{{ 'City: ' + capital.city + ' and State: ' + capital.state}}
		</li>
	</ul>

	<!-- Bind a click on this button to the function updateValue
	using ng-click -->
	<button ng-click="updateValue()">Sum</button>
	<br><br>

	<!-- Displays the Scope value of calculation in the expression-->
	{{calculation}}  <!-- <<--- Expression -->

	<!-- You can perform calculations in expressions -->
	<p>5 + 5 = {{5+5}}</p>

	<!-- Expressions bind data to HTML as well -->
	<p>Your first value is {{first}}</p>

	<br />
	{{ 'Name: ' + field.name }}
	<br/>
	{{ 'Label: ' + field.label }}
	<br/>
	{{ 'Error: ' + field.error }}

	<!-- You can do the same with ng-bind -->
	<p>Your second value is
		<span data-ng-bind="second"></span>
	</p>

	<!-- Strings can be built in expressions -->
	<p>{{person.fName + " " + person.lName}} you entered {{first + " and " + second}}</p>

	<!-- ng-repeat cycles through a collection -->
	<!-- Pass the user data to saveUser() -->
	<form name="userForm" ng-submit="saveUser(userInfo)">
	<ul>
		<div ng-repeat = "field in fields">
			<li>
			<label for="{{ field.name }}">{{ field.label }}</label> <br>

			<input type="{{ field.type }}" id="{{ field.name }}" placeholder="{{ field.label }}"
				ng-required="{{ field.req }}" ng-minlength="{{ field.min }}"/> <br><br>

			<span>{{ field.error }}</span>
			<hr><br><br>
			</li>
		</div>

	</ul>
</form>

<!--			&lt;!&ndash; Name &ndash;&gt;
			<div class="mdl-textfield mdl-js-textfield mdl-textfield&#45;&#45;floating-label">
				<input class="mdl-textfield__input" type="text" pattern="[A-Z,a-z, ]*" id="name">
				<label class="mdl-textfield__label"  for="name">Full Name</label>
				<span class="mdl-textfield__error">Please enter letters and spaces only</span>
			</div>


	</form>-->

<!-- Load the AngularJS library -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

<!-- Load the JS Module -->
<script src="js/exam1.js"></script>
</body>
</html>